/* .strength-img {
    width: 250px;
    height: 297px;
} */
.intro-section {
    padding-top: 75px;
    padding-bottom: 30px;
}
.intro-container {
    transform: scale(0.92);
    transition: all .5s;
}
.intro-container.active {
    transform: scale(1);
    transition: all .5s;
}
.intro-title {
    font-weight: 500;
}
